body{

  ::-webkit-scrollbar {
      display: none;
  }
  -ms-overflow-style: none;
}
.chat-room{
  height: 100vh;
  #messages{
    overflow-y: scroll;
    padding-bottom: 10px;
  }
  .message{
      min-height: 60px;
    .content-container{
        display: inline-block;
    .content{
      background-color: #eeeeee;
      padding: 8px 16px;
      border-radius: 15px;
    }
    .author{
      font-size: 0.8rem;
      color: #777777;
      margin-left: 10px;
      }
  }

  &.me{
    .content-container{
      float: right;
      .content{
        background-color: #007bff;
        color: white;

      }
    }
  }
}
  chat-box{
    position: absolute;
    bottom: 0;
    padding: 15px;
    width: 100%;
    input[type=text]{
      height: 45px;
      font-size: 18px;
      padding: 10px;
    }
  }
}
.card.no-outline{
  border: none;
}

.room-link{
  &:hover{
    text-decoration: none;
}
.room-card{
  transition: background-color 0.5s ease;
  border-radius: 20px;
  &:hover{
    background-color: #eeeeee;
  }
  &.active{
    background-color: black;
    .name{
      color: white;
    }
    .members{
      color: #e0e0e0;
      }
    }

  .name{
    font-weight: bold;
    color: black;
    }

  .members{
    color: #777777;
    font-weight: light;
    font-size: 13px;
    }
  }
}

.room-sidebar{
   border-right: 1px solid #eeeeee;
}
